{% extends 'base.html' %}
{% block title %} Add Product {% endblock %}

{% block content %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Admin's Dashboard </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
    </form>
      </div>
    </div>
  </nav>

  <section class="position-relative py-4 py-xl-5 custom-section">
    <div class="container custom-container">
  
  <form method="post" action="/add/product" enctype="multipart/form-data">
    <h1 class="h3 mb-3 fw-normal">Add Product</h1>

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label"> Enter the Product name: </label>
    <input type="text" name="prod_name" class="form-control" id="formGroupExampleInput" placeholder="Product Name" required/>
  </div>
  <div >
    <label for="formGroupExampleInput2" class="form-label"> Enter the expiry date of the product: </label>
    <input type="date" name="expiry_date" class="form-control" id="formGroupExampleInput2" required/>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label"> Enter the price (per unit): </label>
    <input type="number" name="unit_rate" class="form-control" id="formGroupExampleInput2" placeholder="Price" required/>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label"> Enter the available quatity:  </label>
    <input type="number" name="qnt_avl" class="form-control" id="formGroupExampleInput2" placeholder="Available quantity" required/>
  </div>

  <label for="inputState" class="form-label">Choose a category:</label>
  <select class="form-select" name="cat" aria-label="Default select example" required>
    {% for c in categories %}
    <option value="{{ c['name'] }}"> {{ c["name"] }} </option> 
    {% endfor %}
  </select>

  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">  Choose the picture: </label>
    <input type="file" name="file" class="form-control" id="formGroupExampleInput2" required/>
  </div>
  <br>
    
  <input type="submit" value="Submit" />

</form>
    </div>
  </section>

{% endblock %}